{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welcome to users info.</h1>

            {% for user in users %}
            <dl>
                <dt>User ID: {{ user.user_id }}</dt>
                <dt>Email: {{ user.email }}</dt>
                <dt>Password: {{ user.password }}</dt>
            </dl>
            {% else %}
            <p>No users yet.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
   